{% macro login() %}
{% if logged_out() %}
<a class="btn btn-primary rounded-pill px-3 mb-2 mb-lg-0" style="margin-right: 10px;" href="login">
    <span class="d-flex align-items-center">
        <span class="small">Entrar</span>
    </span>
</a>
{% else %}
<a class="btn btn-primary rounded-pill px-3 mb-2 mb-lg-0" style="margin-right: 10px;" href="logout">
    <span class="d-flex align-items-center">
        <span class="small">Sair</span>
    </span>
</a>
{% endif %}
{% endmacro %}